body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.box {
  background-color: rgba(206, 226, 226, 0.6);
  border-radius: 20px;
  height: 340px;
}
div.h3 {
  position: center;
}
.title {
  width: 600px;
  height: 30px;
  border-radius: 15px;
}
.question {
  top : 0px;
  width: 600px;
  padding-bottom: 150px;
  border-radius: 15px;
}
.submit {
  width: 80px;
  height: 30px;
  border-radius: 15px;
}
div.form {
  position: center;
  font-size: larger;
}
div.Login {
  margin-top:60px;
  position: absolute;
  left: 0%;
  top: 2%;
  padding: 20px;
  width: 90%;
  height: 70%;
  background-color: rgba(206, 226, 226, 0.6);
  border-radius: 10px;
  text-align: center;
  font-family:serif;
}
div.h3 {
  position: absolute;
  height: 25%;
  width: 90%;
}
div.LoginForm {
  position: absolute;
  top: 30%;
  height: 40%;
  width: 90%;
  font-size: larger;
}
.email {
  margin-top: 100px;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}
.password {
  top : 0px;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}
a:link {
  color:rgb(49, 53, 54);
  text-decoration: none;
}
a:hover {
  color: rgb(132, 124, 124);
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 5px;
}
@media only screen and (min-width: 600px) {
  div.LoginForm {
      margin-top: 200px;
      height: 60%;
  }
  div.Login {
      width: 500px;
      height: 500px;
  }
}
@media only screen and (min-width: 500px) {
  div.Login {
      position: absolute;
      left: 3%;
      top: 15%;
      width: 475px;
      height: 300px;
      border-radius: 10px;
      text-align: center;
  }
  div.LoginForm {
      position: absolute;
      top: 25%;
      height: 70%;
      width: 90%;
      font-size: larger;
  }
}
